.main, .container {
  display: flex;
  flex-direction: column;
  max-width: 120vh;
  margin: auto;
  background-color: white;
}

.container {
  background-image: url('/image6.png'); 
  background-size: cover; 
  background-position: center center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; 
  text-align: center;
  position: relative; 
}

.container:after {
  content: "";
  position: absolute;
  inset: 0; 
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
  z-index: 1; 
}

.h2 {
  z-index: 3;
  width: 100%;
  text-align: center;
  padding: 16px;
  font-weight: lighter;
  font-size: 30px;
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  background-color: rgb(0,74,173);
}

@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  
}

@media (max-width: 700px) {
  
  
}

@media (min-width: 701px) and (max-width: 1120px) {
 
}

@media (prefers-color-scheme: dark) {
  
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}