.footer {
    padding-top: 10px;
    z-index: 5;
    height: 240px;
    width: 100%;
    font-family: 'Bebas Neue', sans-serif;
    background-color: rgb(24, 24, 24);
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0
}

.h3 {
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.txt {
    margin-top: 10px;
    
    width: 100%;
    text-align: center;
}

.link {
    width: 100%;
    display: flex;
    
    margin: 10px;
    justify-content: center;
}

.codev {
    margin-left: 4px;
    color: rgb(0,74,173);
    font-style: italic;
}

.codev:hover {
    text-decoration: underline;
}