.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  background-color: rgb(255, 255, 255);;
}
  
.column {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 20px;
  padding: 16px;
  font-weight: bold;
  line-height: 1.7em;
  color: rgb(0, 0, 0)
}
  